<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<!-- Footer container -->
<footer
  class="flex flex-col items-center bg-zinc-50 text-center text-surface dark:bg-neutral-700 dark:text-white lg:text-left">


  <!-- Copyright section -->
  <div class="w-full bg-black/5 p-4 text-center">
    © 2023 Copyright:
    <a class="anchorFooter" href="https://poetrydb.org/index.html">Valentine's Day</a>
  </div>
</footer>
